.style_form-input
{
    width: 487px;
    height: 52px;
    font-family: inherit;
    border: 0;
    color: #FFF;
    font-size: 23px;
    border-bottom: 1px solid #707070;
    background-color: #000000;
}


.style_form-image
{
    position: relative;
    right: 50px;
    top: 7px;
}

.style_form-input::placeholder
{
    
    font-weight: 400;
    font-family: inherit;
    color: #FFF;
}