.style_blue-button, .style_dark-button
{
    font-weight: 500;
    font-family: inherit;
    border-radius: 10px;
    border-width: 0;
    display: block;
}

.style_blue-button
{
    color: #FFF;
    background-color: #326CF9;
}

.style_dark-button
{
    color: #707070;
    background-color: #000;
}

.style_midblue-button, .style_midblack-button
{
    border-radius: 10px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
}


.style_midblue-button
{
    background-color: #326CF9;
    color: #FFF;
}

.style_midblack-button
{
    color: #707070;
    background-color: #0e0e0e;
    border: 1px solid #707070;
}

.style_dark-button:hover
{
    color: #000;
    background-color: #ffffff;
    cursor: pointer;
}

.style_blue-button:hover
{
    cursor: pointer;
    background-color: #2658c2;
}

.style_verydark-button
{
    border: 1px solid #FFF;
    border-radius: 10px;
    background-color: #000;
    text-align: center;
    align-self: center;
    width: 454px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    height: 75px;
    color: #fff;
    font-size: 21px;
}

.style_verydark-button img
{
    margin-right: 20px;
}

.style_verydark-button:last-child:hover img
{
    filter: invert(0.5)
}

.style_verydark-button:hover{
    background-color: #FFF;
    color: #000;
    cursor: pointer;
}