#footer
{
    color: #707070;
    font-size: 28px;
    margin-top: 173px;
    display: flex;
    margin-bottom: 96px;
    align-items: center;
    justify-content: space-between;
}

#footer_nav
{
    font-weight: 500;
    width: 476px;
    display: inherit;
    justify-content: space-between;
}